*{
  box-sizing:border-box;
}

.App{
  display: flex;
  justify-content: center;
}

h1,label,input,button,.error,textarea {
  margin:15px;
}

input,button,textarea{
  min-width: 400px;
  display: block;
  padding: 6px;
  font-style: 14px;
  line-height: 1.4;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button{
  background-color: #1c64f2;
  color:white;
}

.footer{
  text-align:center
}

.error {
  color: red;
}
.flex-row{
  display: flex;
  justify-content: space-between;
}

.addremove{
  min-width: 30px;
}